<a href="https://colab.research.google.com/github/leeyechang/bmt_python/blob/main/21514_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
s = pd.Series(  [1, 3, 5, np.nan, 6, 8]  )
s
a=1

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
type(a)

int

In [ ]:
dates = pd.date_range('20210507', periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0 -0.041983 -2.852761 -0.807972  0.935913
1 -0.472002  0.360917  1.499224  0.299549
2  0.562230 -1.202682  0.321344 -0.909007
3  0.930859  0.388758 -1.378171 -0.132885
4 -0.195616 -0.111655 -0.856216  0.409452
5 -0.922207 -0.242708 -2.199896 -0.548316

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates)
df

                   0         1         2         3
2021-05-07 -0.317921 -0.618109  0.134505  0.687775
2021-05-08  0.151247  1.013294  0.553038 -1.110813
2021-05-09 -0.399568  1.205387 -0.841391 -0.134369
2021-05-10  0.604434  0.241556  0.038882  0.964209
2021-05-11 -0.375885  0.273393 -0.507607 -0.257391
2021-05-12  0.626501  0.244776 -0.807808  1.580155

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=('국어','영어','수학','물리'))
df

                  국어        영어        수학        물리
2021-05-07 -0.146919  0.000940  0.721451 -1.413180
2021-05-08  1.086203  2.079568  0.112921  0.880526
2021-05-09  0.525206  0.835140 -0.985002  0.747947
2021-05-10  0.900465 -0.342782  0.799615 -0.561879
2021-05-11 -1.139825 -1.544525  0.041624 -0.746216
2021-05-12 -0.379295 -1.616678  0.399134 -1.479893

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('국영수물'))
df

                   국         영         수         물
2021-05-07 -0.672610  1.055547 -0.060625  0.044756
2021-05-08 -1.457363  1.030110  1.521383  0.231239
2021-05-09  1.491744 -2.250992 -1.699443  0.818395
2021-05-10  1.365997 -0.171119  1.598205 -0.802144
2021-05-11  0.863379 -0.667985  0.346195  0.315555
2021-05-12 -0.110102 -1.115031  1.251853  0.906154

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032

In [ ]:
df2 = pd.DataFrame(
    {
        'A': 1.,
        'B': pd.Timestamp('20210507'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-05-07  1.0  3   test  foo
1  1.0 2021-05-07  1.0  3  train  foo
2  1.0 2021-05-07  1.0  3   test  foo
3  1.0 2021-05-07  1.0  3  train  foo

In [ ]:
df.head()

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895

In [ ]:
df.tail()

                   A         B         C         D
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032

In [ ]:
df.head(1)

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729

In [ ]:
df.tail(2)

                   A         B         C         D
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032

In [ ]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.values

array([[-0.61618331,  0.50928395, -1.21060893,  0.25572918],
       [-0.75974802, -0.82684014, -1.41718518, -1.08906637],
       [-0.1200711 ,  0.08215541,  0.49108703, -0.83455477],
       [ 0.97936023, -0.08183819,  0.72435393, -0.92960547],
       [ 2.67414093,  0.85143723,  0.68422464, -2.49889512],
       [-1.9565153 , -1.10465054, -0.84440787, -0.86703164]])

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.033497 -0.095075 -0.262089 -0.993904
std    1.606407  0.754645  1.000888  0.881052
min   -1.956515 -1.104651 -1.417185 -2.498895
25%   -0.723857 -0.640590 -1.119059 -1.049201
50%   -0.368127  0.000159 -0.176660 -0.898319
75%    0.704502  0.402502  0.635940 -0.842674
max    2.674141  0.851437  0.724354  0.255729

In [ ]:
df.T

   2021-05-07  2021-05-08  2021-05-09  2021-05-10  2021-05-11  2021-05-12
A   -0.616183   -0.759748   -0.120071    0.979360    2.674141   -1.956515
B    0.509284   -0.826840    0.082155   -0.081838    0.851437   -1.104651
C   -1.210609   -1.417185    0.491087    0.724354    0.684225   -0.844408
D    0.255729   -1.089066   -0.834555   -0.929605   -2.498895   -0.867032

In [ ]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032

In [ ]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-05-07  0.255729 -1.210609  0.509284 -0.616183
2021-05-08 -1.089066 -1.417185 -0.826840 -0.759748
2021-05-09 -0.834555  0.491087  0.082155 -0.120071
2021-05-10 -0.929605  0.724354 -0.081838  0.979360
2021-05-11 -2.498895  0.684225  0.851437  2.674141
2021-05-12 -0.867032 -0.844408 -1.104651 -1.956515

In [ ]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032

In [ ]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-07 -0.616183  0.509284 -1.210609  0.255729

In [ ]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-11  2.674141  0.851437  0.684225 -2.498895

In [ ]:
df['A']

2021-05-07   -0.616183
2021-05-08   -0.759748
2021-05-09   -0.120071
2021-05-10    0.979360
2021-05-11    2.674141
2021-05-12   -1.956515
Freq: D, Name: A, dtype: float64

In [ ]:
df['B']

2021-05-07    0.509284
2021-05-08   -0.826840
2021-05-09    0.082155
2021-05-10   -0.081838
2021-05-11    0.851437
2021-05-12   -1.104651
Freq: D, Name: B, dtype: float64

In [ ]:
df[['A','D']]

                   A         D
2021-05-07 -0.616183  0.255729
2021-05-08 -0.759748 -1.089066
2021-05-09 -0.120071 -0.834555
2021-05-10  0.979360 -0.929605
2021-05-11  2.674141 -2.498895
2021-05-12 -1.956515 -0.867032

In [ ]:
df[['B','D']]

                   B         D
2021-05-07  0.509284  0.255729
2021-05-08 -0.826840 -1.089066
2021-05-09  0.082155 -0.834555
2021-05-10 -0.081838 -0.929605
2021-05-11  0.851437 -2.498895
2021-05-12 -1.104651 -0.867032

In [ ]:
df[['B','C','D']]

                   B         C         D
2021-05-07  0.509284 -1.210609  0.255729
2021-05-08 -0.826840 -1.417185 -1.089066
2021-05-09  0.082155  0.491087 -0.834555
2021-05-10 -0.081838  0.724354 -0.929605
2021-05-11  0.851437  0.684225 -2.498895
2021-05-12 -1.104651 -0.844408 -0.867032

In [ ]:
print(df[0:3])
print(df[['A','B','C']])

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
                   A         B         C
2021-05-07 -0.616183  0.509284 -1.210609
2021-05-08 -0.759748 -0.826840 -1.417185
2021-05-09 -0.120071  0.082155  0.491087
2021-05-10  0.979360 -0.081838  0.724354
2021-05-11  2.674141  0.851437  0.684225
2021-05-12 -1.956515 -1.104651 -0.844408

In [ ]:
print(df[0:3])
print(df['20210507':'20210509'])
print(df[['A','B','C']])

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
                   A         B         C
2021-05-07 -0.616183  0.509284 -1.210609
2021-05-08 -0.759748 -0.826840 -1.417185
2021-05-09 -0.120071  0.082155  0.491087
2021-05-10  0.979360 -0.081838  0.724354
2021-05-11  2.674141  0.851437  0.684225
2021-05-12 -1.956515 -1.104651 -0.844408

In [ ]:
print(df.loc['20210507':'20210509', ['A', 'C']])

                   A         C
2021-05-07 -0.616183 -1.210609
2021-05-08 -0.759748 -1.417185
2021-05-09 -0.120071  0.491087

In [75]:
df.iloc[1:3,0:2]

                   A         B
2021-05-08 -0.759748 -0.826840
2021-05-09 -0.120071  0.082155

In [78]:
df.iloc[1,3],[0,3]

(-1.089066369632335, [0, 3])

In [79]:
df

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032

In [80]:
df.iloc[3,2]

0.72435392848622

In [84]:
df.iloc[[1,3],[1,3]]

                   B         D
2021-05-08 -0.826840 -1.089066
2021-05-10 -0.081838 -0.929605

In [85]:
df

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032

In [88]:
df.A

2021-05-07   -0.616183
2021-05-08   -0.759748
2021-05-09   -0.120071
2021-05-10    0.979360
2021-05-11    2.674141
2021-05-12   -1.956515
Freq: D, Name: A, dtype: float64

In [89]:
df.A > 0

2021-05-07    False
2021-05-08    False
2021-05-09    False
2021-05-10     True
2021-05-11     True
2021-05-12    False
Freq: D, Name: A, dtype: bool

In [90]:
df[ df.A > 0      ]

                   A         B         C         D
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895

In [91]:
df.A > 0.5

2021-05-07    False
2021-05-08    False
2021-05-09    False
2021-05-10     True
2021-05-11     True
2021-05-12    False
Freq: D, Name: A, dtype: bool

In [92]:
df[ df.A > 0.5     ]

                   A         B         C         D
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895

In [93]:
df > 0

                A      B      C      D
2021-05-07  False   True  False   True
2021-05-08  False  False  False  False
2021-05-09  False   True   True  False
2021-05-10   True  False   True  False
2021-05-11   True   True   True  False
2021-05-12  False  False  False  False

In [94]:
df[df>0]

                   A         B         C         D
2021-05-07       NaN  0.509284       NaN  0.255729
2021-05-08       NaN       NaN       NaN       NaN
2021-05-09       NaN  0.082155  0.491087       NaN
2021-05-10  0.979360       NaN  0.724354       NaN
2021-05-11  2.674141  0.851437  0.684225       NaN
2021-05-12       NaN       NaN       NaN       NaN

In [96]:
df2 = df.copy()

In [98]:
df2

                   A         B         C         D
2021-05-07 -0.616183  0.509284 -1.210609  0.255729
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066
2021-05-09 -0.120071  0.082155  0.491087 -0.834555
2021-05-10  0.979360 -0.081838  0.724354 -0.929605
2021-05-11  2.674141  0.851437  0.684225 -2.498895
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032

In [103]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [104]:
df2

                   A         B         C         D      E
2021-05-07 -0.616183  0.509284 -1.210609  0.255729    one
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066    one
2021-05-09 -0.120071  0.082155  0.491087 -0.834555    two
2021-05-10  0.979360 -0.081838  0.724354 -0.929605  three
2021-05-11  2.674141  0.851437  0.684225 -2.498895   four
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032  three

In [107]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2021-05-09 -0.120071  0.082155  0.491087 -0.834555   two
2021-05-11  2.674141  0.851437  0.684225 -2.498895  four

In [108]:
df2[df2['E'].isin(['three'])]

                   A         B         C         D      E
2021-05-10  0.979360 -0.081838  0.724354 -0.929605  three
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032  three

In [109]:
df

                   A         B         C         D      E
2021-05-07 -0.616183  0.509284 -1.210609  0.255729    one
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066    one
2021-05-09 -0.120071  0.082155  0.491087 -0.834555    two
2021-05-10  0.979360 -0.081838  0.724354 -0.929605  three
2021-05-11  2.674141  0.851437  0.684225 -2.498895   four
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032  three

In [111]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))

In [112]:
df['F'] =s1

In [118]:
df

                   A         B         C         D      E  F
2021-05-07 -0.616183  0.509284 -1.210609  0.255729    one  1
2021-05-08 -0.759748 -0.826840 -1.417185 -1.089066    one  2
2021-05-09 -0.120071  0.082155  0.491087 -0.834555    two  3
2021-05-10  0.979360 -0.081838  0.724354 -0.929605  three  4
2021-05-11  2.674141  0.851437  0.684225 -2.498895   four  5
2021-05-12 -1.956515 -1.104651 -0.844408 -0.867032  three  6

In [119]:
df[df>0] = -df

TypeError: ignored