<a href="https://colab.research.google.com/github/leeyechang/bmt_python/blob/main/21514_8%EC%A3%BC%EC%B0%A8%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lst_even = list()
lst_odd = []

for i in range(5) : 
   num = int(input('숫자 입력 : '))

   if num % 2 == 0:
     lst_even.append(num)
   else :
     lst_odd.append(num)
print(f'짝수 리스트 : {lst_even}')
print(f'홀수 리스트 : {lst_odd}')

숫자 입력 : 1
숫자 입력 : 2
숫자 입력 : 3
숫자 입력 : 4
숫자 입력 : 5
짝수 리스트 : [2, 4]
홀수 리스트 : [1, 3, 5]

In [ ]:
area = { '서울시':57, '부산시':62, '대구시':59,
         '인천시':59, '강화군':58, '서해5도':64,
         '광주시':62, '대전시':60, '울산시':53,
         '세종시':58 }

report = { '위험':'설사, 구토 등 식중독 의심 증상이 있으면 의료기관을 방문하여 의사 지시에 따름',
           '경고':'조리도구는 세척, 소독 등을 거쳐 세균 오염을 방지하고 유통기한, 보관 방법 등을 확인하여 음식물 조리, 보관에 각별히 주의하여야 함',
           '주의':'조리 음식은 중심부까지 75도(어패류 85도)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10도 이하에서 보관 및 운반',
           '관심':'화장실 사용 후, 귀가 후, 조리 전에 손 씻기를 생활화'
          }

areashow = {}

for key, value in area.items():
  if value >= 86: check = '위험'
  elif value >= 71 : check = '경고'
  elif value >= 55 : check = '주의'
  else : check = '관심'


  areashow[key] = check

In [ ]:
print('지역목록',list(area.keys()))

지역목록 ['서울시', '부산시', '대구시', '인천시', '강화군', '서해5도', '광주시', '대전시', '울산시', '세종시']

In [ ]:
indata = input('지역목록의 지역을 입력하세요 : ')

print(report[areashow[indata]])

지역목록의 지역을 입력하세요 : 부산시
조리 음식은 중심부까지 75도(어패류 85도)로 1분 이상 완전히 익히고 외부로 운반할 때에는 가급적 아이스박스 등을 이용하여 10도 이하에서 보관 및 운반

In [ ]:
def cal(num1, num2, op) :
  ans = 0

  if   op == '+' : ans = num1 + num2
  elif op == '-' : ans = num1 - num2
  elif op == 'x' : ans = num1 * num2
  elif op == '/' : ans = num1 / num2

  print(f'{num1} {op} {num2} = {ans}')
  return 'hello'

In [ ]:
cal(2,3,'+')

2 + 3 = 5

'hello'

In [ ]:
width = int(input('가로 입력 : '))
height = int(input('높이 입력 : '))

area = width * height
if width == height :
  print(f'정사각형 넓이 : {area}')
else :
  print(f'직사각형 넓이 : {area}')

가로 입력 : 5
높이 입력 : 5
정사각형 넓이 : 25

In [15]:
path = '/content/drive/My Drive/data/'

f = open('지역평균기온.txt')

data = f.read()

f.close()

print(data)

서울,20
부산,26
대구,24
인천,24
광주,25
대전,22
울산,26
세종,23
경기,24
강원,23
충북,26
충남,22
전북,24
전남,23
경북,28
경남,29
제주,26

In [19]:
fp = open('지역평균기온.txt')
data = fp.readlines()
fp.close()

dt = {}

for line in data :
  line = line.replace('\n','')
  items = line.split(',')
  dt[items[0]] = int(items[1])

  
dt

{'강원': 23,
 '경기': 24,
 '경남': 29,
 '경북': 28,
 '광주': 25,
 '대구': 24,
 '대전': 22,
 '부산': 26,
 '서울': 20,
 '세종': 23,
 '울산': 26,
 '인천': 24,
 '전남': 23,
 '전북': 24,
 '제주': 26,
 '충남': 22,
 '충북': 26}