<a href="https://colab.research.google.com/github/leeyechang/bmt_python/blob/main/21514_11%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-14 -0.516391 -0.877497  0.535765  0.874481
2021-05-15  2.384100 -0.972424 -0.415687 -1.130328
2021-05-16  1.592611  0.013959 -2.101059  1.000919
2021-05-17  0.972366 -0.021479 -0.072434  0.703401
2021-05-18  0.755747 -1.545400  0.227467  0.158101
2021-05-19 -0.572616 -0.793608  0.338026  0.119043

In [ ]:
df.mean(0)

A    0.769303
B   -0.699408
C   -0.247987
D    0.287603
dtype: float64

In [ ]:
df.mean(1)

2021-05-14    0.004090
2021-05-15   -0.033585
2021-05-16    0.126608
2021-05-17    0.395464
2021-05-18   -0.101021
2021-05-19   -0.227289
Freq: D, dtype: float64

In [ ]:
df.apply(np.cumsum)

                   A         B         C         D
2021-05-14 -0.516391 -0.877497  0.535765  0.874481
2021-05-15  1.867710 -1.849921  0.120078 -0.255847
2021-05-16  3.460321 -1.835962 -1.980981  0.745072
2021-05-17  4.432687 -1.857441 -2.053415  1.448474
2021-05-18  5.188434 -3.402840 -1.825948  1.606575
2021-05-19  4.615818 -4.196448 -1.487922  1.725618

In [ ]:
df.apply(np.cumsum, axis=0)

                   A         B         C         D
2021-05-14 -0.516391 -0.877497  0.535765  0.874481
2021-05-15  1.867710 -1.849921  0.120078 -0.255847
2021-05-16  3.460321 -1.835962 -1.980981  0.745072
2021-05-17  4.432687 -1.857441 -2.053415  1.448474
2021-05-18  5.188434 -3.402840 -1.825948  1.606575
2021-05-19  4.615818 -4.196448 -1.487922  1.725618

In [ ]:
df.apply(np.cumsum, axis=1)

                   A         B         C         D
2021-05-14 -0.516391 -1.393888 -0.858123  0.016359
2021-05-15  2.384100  1.411676  0.995989 -0.134338
2021-05-16  1.592611  1.606570 -0.494489  0.506430
2021-05-17  0.972366  0.950887  0.878453  1.581854
2021-05-18  0.755747 -0.789653 -0.562185 -0.404084
2021-05-19 -0.572616 -1.366224 -1.028198 -0.909154

In [ ]:
df

                   A         B         C         D
2021-05-14 -0.516391 -0.877497  0.535765  0.874481
2021-05-15  2.384100 -0.972424 -0.415687 -1.130328
2021-05-16  1.592611  0.013959 -2.101059  1.000919
2021-05-17  0.972366 -0.021479 -0.072434  0.703401
2021-05-18  0.755747 -1.545400  0.227467  0.158101
2021-05-19 -0.572616 -0.793608  0.338026  0.119043

In [ ]:
df.apply(lambda x: x.max() - x.min())

A    2.956716
B    1.559359
C    2.636824
D    2.131247
dtype: float64

In [ ]:
df.apply(lambda x: x.max() - x.min(), axis=0)

A    2.956716
B    1.559359
C    2.636824
D    2.131247
dtype: float64

In [ ]:
df.apply(lambda x: x.max() - x.min(), axis=1)

2021-05-14    1.751978
2021-05-15    3.514428
2021-05-16    3.693670
2021-05-17    1.044800
2021-05-18    2.301147
2021-05-19    1.131634
Freq: D, dtype: float64

In [ ]:
s = pd.Series(np.random.randint(1, 7, size = 100000))
print(s.value_counts())

6    16885
5    16836
1    16698
4    16577
2    16565
3    16439
dtype: int64

In [ ]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -0.293266 -0.527690 -1.863635  1.065602
1 -0.294842  0.644803  0.091369 -1.465870
2  0.025614 -0.366658  0.233780 -1.548283
3 -0.604999  1.912945  0.537753 -1.450216
4 -1.389411  0.347811 -0.477549 -0.035708
5  0.802900 -0.606300 -0.884354 -0.208962
6  0.803759  0.617582 -0.015428 -1.167780
7 -0.880748 -0.260978  1.166327  1.608991
8  1.261260 -0.282750  0.245776 -2.228744
9 -0.603812  1.827608  0.146256 -0.007205

In [ ]:
df[:3]

          0         1         2         3
0 -0.293266 -0.527690 -1.863635  1.065602
1 -0.294842  0.644803  0.091369 -1.465870
2  0.025614 -0.366658  0.233780 -1.548283

In [ ]:
df[3:7]

          0         1         2         3
3 -0.604999  1.912945  0.537753 -1.450216
4 -1.389411  0.347811 -0.477549 -0.035708
5  0.802900 -0.606300 -0.884354 -0.208962
6  0.803759  0.617582 -0.015428 -1.167780

In [ ]:
df[7:]

          0         1         2         3
7 -0.880748 -0.260978  1.166327  1.608991
8  1.261260 -0.282750  0.245776 -2.228744
9 -0.603812  1.827608  0.146256 -0.007205

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.293266 -0.527690 -1.863635  1.065602
 1 -0.294842  0.644803  0.091369 -1.465870
 2  0.025614 -0.366658  0.233780 -1.548283,
           0         1         2         3
 3 -0.604999  1.912945  0.537753 -1.450216
 4 -1.389411  0.347811 -0.477549 -0.035708
 5  0.802900 -0.606300 -0.884354 -0.208962
 6  0.803759  0.617582 -0.015428 -1.167780,
           0         1         2         3
 7 -0.880748 -0.260978  1.166327  1.608991
 8  1.261260 -0.282750  0.245776 -2.228744
 9 -0.603812  1.827608  0.146256 -0.007205]

In [ ]:
pieces[2]

          0         1         2         3
7 -0.880748 -0.260978  1.166327  1.608991
8  1.261260 -0.282750  0.245776 -2.228744
9 -0.603812  1.827608  0.146256 -0.007205

In [ ]:
pd.concat(pieces)

          0         1         2         3
0 -0.293266 -0.527690 -1.863635  1.065602
1 -0.294842  0.644803  0.091369 -1.465870
2  0.025614 -0.366658  0.233780 -1.548283
3 -0.604999  1.912945  0.537753 -1.450216
4 -1.389411  0.347811 -0.477549 -0.035708
5  0.802900 -0.606300 -0.884354 -0.208962
6  0.803759  0.617582 -0.015428 -1.167780
7 -0.880748 -0.260978  1.166327  1.608991
8  1.261260 -0.282750  0.245776 -2.228744
9 -0.603812  1.827608  0.146256 -0.007205

In [ ]:
left = pd.DataFrame(
    {
        'key':['foo', 'foo'], 
        'lval': [1, 2]
     }
    )

right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

   key  lval
0  foo     1
1  foo     2

In [ ]:
right

   key  rval
0  foo     4
1  foo     5

In [ ]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -0.969187  1.100531 -0.526501 -0.782352
1  0.191293 -1.182793  0.167369 -0.698499
2 -0.840757  1.151962 -0.696788 -0.388882
3  0.022571 -0.484157 -0.258235 -1.185994
4  1.158620  1.104314  1.411111  0.178411
5  0.290075  0.515228  1.440450  0.405956
6 -0.901488  1.294496  0.195018 -0.309785
7  2.487814  0.800124  0.235520  0.527965

In [ ]:
s = df.iloc[3]
s

A    0.022571
B   -0.484157
C   -0.258235
D   -1.185994
Name: 3, dtype: float64

In [ ]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.969187  1.100531 -0.526501 -0.782352
1  0.191293 -1.182793  0.167369 -0.698499
2 -0.840757  1.151962 -0.696788 -0.388882
3  0.022571 -0.484157 -0.258235 -1.185994
4  1.158620  1.104314  1.411111  0.178411
5  0.290075  0.515228  1.440450  0.405956
6 -0.901488  1.294496  0.195018 -0.309785
7  2.487814  0.800124  0.235520  0.527965
8  0.022571 -0.484157 -0.258235 -1.185994